:host {
    font-family: "LXGW Marker Gothic";

    .contact-container {
        background-color: #56876D;
        color: white;
        height: 150px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 16px;

        .contact-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            p {
                position: relative;
                font-size: 21pt;
                left: 100px;
                cursor: grab;
            }

            .contact-links {
                display: flex;
                flex-direction: column;
                gap: 10px;
                position: relative;
                right: 300px;
                color: white;
                top: 20px;

                div {
                    display: flex;

                    span {
                        position: relative;
                        display: block;
                        top:7px;
                        left: -5px;
                        border-radius: 50%;
                        height:5px;
                        width:5px;
                        border: white solid 1px;
                    }

                    a {
                        font-size: 12pt;
                        text-decoration-line: white;
                    }

                    a:visited {
                        color: white;
                    }
                    
                    svg {
                        transform: scale(0.7);
                    }
                }
            }
        }
    }


    .last-updated {
        margin: 0;
        font-size: 12pt;
        align-self: flex-end;
    }

}